body {
    background-color: rgba(10,10,10,0.9);
    background-image: url(images/background_pc.ac21bec.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 0;
}

/* Video Player */
.player{
    width: 80%;
}
.player-global{
    display: flex;
}
div.set-list{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: aqua;
    color: aliceblue;
    width: 20%;
    z-index: 1;

}
ul.set-list{
    list-style: none;
    padding: 3%;
    margin: 3%;
}
.video-container {
    border-bottom: 30px darkgray;
    margin: 4% 1.5%;
    z-index: 2;
}
.video-date{
    color: darkgray;
}
.video-title{
    color: aliceblue;
    font-size: x-large;
}
